<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectpickalunch">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectPickALunch"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".login_api.GlobalApplication"
        >

        <!--kakaoMap-->
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="3cb2b71f4f777ccb2db062d17cd3060a"/>

<!--        kakaoLogin-->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="66003ba03f17d26728f7de955b64634a" />
            </intent-filter>
        </activity>

        <!--TODO : 로그인 화면 임시로 연결 해제, 바로 메인액티비티로 넘어감-->
<!--        로그인 액티비티-->
        <!--<activity android:name=".login_api.KakaoLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>-->
<!--        <activity-->
<!--            android:name=".Main.MainActivity"-->
<!--            android:exported="true">-->
<!--        </activity>-->


        <!--메인 액티비티-->
        <activity android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--식당 상세정보 액티비티-->
        <activity android:name=".restorant_info.Sickdang_Jeongbo"/>

        <!--유저정보 액티비티-->
        <activity android:name=".user_information.UserInformationAfterConfirm"/>
        <activity android:name=".user_information.UserInformationBeforeConfirm"/>
        <activity android:name=".user_information.UserInformationConfirm"/>

        <!--메뉴피커 액티비티-->
        <activity android:name=".menu_picker.MenuPicker"/>

        <!--검색 액티비티-->
        <activity android:name=".restaurant_search.Search"/>

<!--        식당 추가 액티비티-->
        <activity android:name=".restorant_add.RestorantAdd"/>

<!--        리뷰 추가 액티비티-->
        <activity android:name=".review_add.ReviewAdd"/>

        <!--리뷰 전체 액티비티-->
        <activity android:name=".restorant_info.FullReviewActivity"/>
    </application>

</manifest>